button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

a {
	-webkit-user-select: none;
}

.btn-unified-1 {
    border-radius: 0 !important;
    margin-right: -2px
}

.btn-unified-2 {
    border-radius: 0 !important;
    margin-left: -2px
}

.btn-unified-1, .btn-unified-2 {
    z-index: 10;

    &:hover {
        z-index: 900;
    }
}
