#map {
    height: 100%; /* fallback */
    height: 100vh;
    width: 100%;
}

.map-gym {
    background-image: url(https://raw.githubusercontent.com/PokemonGoMap/PokemonGo-Map/develop/static/forts/Harmony.png);
    width: 36px;
    height: 36px;
    cursor: pointer;
    left: -18px;
    top: -18px;

    &.map-gym-mystic {
        background-image: url(https://raw.githubusercontent.com/PokemonGoMap/PokemonGo-Map/develop/static/forts/Mystic.png);
    }

    &.map-gym-valor {
        background-image: url(https://raw.githubusercontent.com/PokemonGoMap/PokemonGo-Map/develop/static/forts/Valor.png);
    }

    &.map-gym-instinct {
        background-image: url(https://raw.githubusercontent.com/PokemonGoMap/PokemonGo-Map/develop/static/forts/Instinct.png);
    }
}

.map-pokestop {
    background-image: url(https://raw.githubusercontent.com/PokemonGoMap/PokemonGo-Map/develop/static/forts/Pstop.png);
    width: 31px;
    height: 31px;
    cursor: pointer;
    left: -16px;
    top: -16px;

    &.map-pokestop-lured {
        background-image: url(https://raw.githubusercontent.com/PokemonGoMap/PokemonGo-Map/develop/static/forts/PstopLured.png);
    }
}

.map-currentlocation {
    background-image: url(../img/location.svg);
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    left: -13px;
    top: -13px;
}

.map-scancircle-marker {
    width: 25px;
    height: 25px;
    left: -10px;
    top: -10px;

    i {
        color: #fff;
        font-size: 14pt;
    }
}

.map-pokemon, .map-pokestop, .map-gym {
    outline: none;

    &:hover {
        z-index: 9999;
    }
}

.map-pokemon {
    width: 65px;
    height: 65px;
    cursor: pointer;
    left: -33px;
    top: -45px;

    .map-pokemon-timer {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        height: 19px;
        line-height: 19px;
        color: #fff;
        margin: 0 auto;
        font-size: 8pt;
        text-align: center;
        width: 36px;
        position: absolute;
        top: 47px;
        left: 15px;
    }
}

.ad-placement {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    iframe {
        display: block;
        margin: 0 auto;
    }
}

#menu {
    bottom: 30px;
    right: 10px;
}

@media screen and (max-width: 600px) {
    #menu {
        bottom: 70px;
    }
}
