#map {
    height: 100%; /* fallback */
    height: 100vh;
    width: 100%;
}

.map-gym {
    background-image: url(../img/harmony.png);
    width: 40px;
    height: 40px;
	background-size: 100% 100%;
    cursor: pointer;
    left: -18px;
    top: -18px;

    &.map-gym-mystic {
        background-image: url(../img/mystic.png);
    }

    &.map-gym-valor {
        background-image: url(../img/valor.png);
    }

    &.map-gym-instinct {
        background-image: url(../img/instinct.png);
    }
}

.map-pokestop {
    background-image: url(../img/pokestop.png);
    width: 31px;
    height: 31px;
    cursor: pointer;
    left: -16px;
    top: -16px;

    &.map-pokestop-lured {
        background-image: url(../img/pokestop_lured.png);
    }
}

.map-currentlocation {
    background-image: url(../img/location.svg);
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    left: -13px;
    top: -13px;
}

.map-scancircle-marker {
    width: 25px;
    height: 25px;
    left: -10px;
    top: -10px;

    i {
        color: #fff;
        font-size: 14pt;
    }
}

.map-pokemon, .map-pokestop, .map-gym {
    outline: none;

    &:hover {
        z-index: 9999;
    }
}

.map-pokemon {
    width: 65px;
    height: 65px;
    cursor: pointer;
    left: -33px;
    top: -45px;

    .map-pokemon-timer {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        height: 19px;
        line-height: 19px;
        color: #fff;
        margin: 0 auto;
        font-size: 8pt;
        text-align: center;
        width: 36px;
        position: absolute;
        top: 47px;
        left: 15px;
    }
}
