/*body {
    overflow: hidden;
}*/

.menu-chip {
    position: absolute;
    left: -90px;
    width: 100px;
    margin-top: 2px;
}

.vertical-menu-fix {
    margin-left: -17px !important;
    margin-bottom: -10px !important;
}

.btn-floating i {
    color: inherit !important;
}
