.pokemon-list {
    .pokemon-list-pokemon {
        display: inline-block;
        width: 100px;
        height: 100px;
        overflow: hidden;
        text-align: center;
        padding-top: 50px;
        border: 2px solid #32cd32;
        margin-right: 8px;
        margin-bottom: 2px;
        position: relative;
        border-radius: 7px;
        cursor: pointer;
        transition: border-color 0.3s;

        &.hidden {
            border-color: #ff0000;
        }

        .pokemon-list-pokemon-image {
            position: absolute;
            left: 50%;
            margin-left: -32px;
            top: 50%;
            margin-top: -39px;
        }

        .pokemon-list-pokemon-name {
            position: absolute;
            bottom: 7px;
            width: 100%;
            text-align: center;
        }
    }
}

.collapsible-header {
    &.active {
        .mdi {
            transform: rotate(180deg);
        }
    }

    .mdi {
        transition: transform 0.3s ease-in-out;
    }
}

.mdi-list.mdi-right {
    position: absolute;
    right: 5px;
    display: inline-block;
    font-size: 23pt;
    margin-top: -13px;
}
